$white: #fff !default;
$light-1: #f8f8f8 !default;
$black: #000 !default;
$dark-1: #7a7a7a !default;
$dark-2: #c4c4c4 !default;
$dark-3: #dddddd !default;
$dark-4: #e9e9e9 !default;

$primary: #487254 !default;
$secondary: #17110f !default;
$tertiary: #fab67d !default;
$quartenary: #fdf5ef !default;
