@import "assets/scss/parts/header.scss";
@import "assets/scss/parts/testimonial.scss";
@import "assets/scss/parts/hero.scss";
@import "assets/scss/parts/catalogue.scss";
@import "assets/scss/parts/gallery.scss";
@import "assets/scss/parts/product_desc.scss";

@import "components/Button/index.scss";
@import "components/Logo/index.scss";
@import "components/Card/TestimonialCard/index.scss";
@import "components/Card/ProductCard/index.scss";

* {
  font-family: "Plus Jakarta Sans";
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  background-color: $light-1;
  width: 100%;
  overflow-x: hidden;
}

body {
  header {
    padding: 0 250px;
  }
}

a {
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.c-section-text {
  font-size: 36px;
  font-weight: $fw-500;
}
