.hero {
    background-image: url("../../../../public/images/banner-assets.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
  }
  .hero .container {
    padding-top: 15%;
  }
  .hero h1 {
    color: #fff;
    font-size: 60px;
  }
  .hero p {
    color: #fff;
    opacity: 0.8;
  }
  form {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 190px;
    padding: 0 20px;
  }
  form input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 5px;
    border-radius: 5px;
  }
  
  form span {
    font-size: 14px;
    color: grey;
  }
  input::placeholder {
    font-size: 17px;
    color: black;
  }
  form .box {
    padding: 15px;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
  }
  form .select {
    padding: 15px;
    border:none;
  }
  form .box:nth-child(1) {
    border-left: none;
  }
  form h4 {
    font-weight: 500;
  }

  @media screen and (max-width: 800px) {
    .hero .container {
      padding-top: 30%;
    }
    form {
      display: flex;
      flex-wrap: wrap;
    }
    form .box {
      border-left: none;
    }
    form input {
      width: 100%;
    }
  }
  /*********************************************************************************************************/
  /* Text Decoration */
  
  div.InvestIn{
    display: flex;
    font-size: 50px;
    color:#44485b;
    font-weight: 500;
    font-family: "Poppins";
  }

  h2{
    color: white;
    font-size: 45px;
    
  }

  div.Slidder_vertical{
    text-indent: 15px;
    margin-top: 12px;
    height: 60px;
    display: flex;
    flex-direction: column-reverse;
    overflow:hidden;
  }

  div.Slidder_vertical span {
    display: flex;
    flex-direction: column;
    animation: verticalSlide 7s linear infinite; 
    position:relative;
    height: 80px;
  }

  @keyframes verticalSlide {
    0%{
      bottom:0;
    }
    17%{
      bottom:-70px;
    }
    34%{
      bottom:-140px;
    }
    68%{
      bottom: -210px;
    }
    85%{
      bottom: -280px;
    }
    100%{
      bottom: -350px;
    }
  }

  span.Stocks_Color{
    color:#5367ff;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  span.MutualFunds_Color{
    color:#00d09c;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  span.FuturesOptions_Color{
    color:#ffb61b;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  span.UsStocks_Color{
    color:#eb5b3c;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  span.IPO_Color{
    color:#8b5a07;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  span.FDs_Color{
    color:#5367ff;
    padding-top: 10px;
    padding-bottom: 15px;
  }

 